@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-purple: #4b0082;
  --color-brand-pink: #ff00ff;
  --color-brand-orange: #ff8c00;
  --color-brand-silver: #d3d3d3;
  --color-brand-yellow: #f5b841;
  --color-brand-orangeDark: #cc7000;
  --color-brand-blue: #030649;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), var(--font-inter), sans-serif;
}

/* Intro */
.intro {
  height: 100vh;
  background: #000;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 100%;
    background: linear-gradient(
      to right,
      #f00,
      #f5b841,
      #ff8c00,
      #cc7000,
      #000
    );
    mix-blend-mode: color;
    pointer-events: none;
    z-index: 10;
  }
  video {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    object-fit: cover;
    width: 60%;
    left: 20%;
  }
  h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    span {
      opacity: 0;
      display: inline-block;
      animation: animate 1s linear forwards;
    }
    span:nth-child(1) {
      animation-delay: 1s;
    }
    span:nth-child(2) {
      animation-delay: 1.5s;
    }
    span:nth-child(3) {
      animation-delay: 2s;
    }
    span:nth-child(4) {
      animation-delay: 3s;
    }
    span:nth-child(5) {
      width: 30px;
    }
    span:nth-child(6) {
      animation-delay: 3.25s;
    }
    span:nth-child(7) {
      animation-delay: 3.5s;
    }
    span:nth-child(8) {
      animation-delay: 4s;
    }
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}

/* Mobile (Iphone) */
@media only screen and (max-width: 46.1875rem) {
  .intro {
    overflow-x: hidden;
    &::before {
      left: 10%;
      width: 80%;
    }
    h1 {
      font-size: 3rem;
      span:nth-child(1) {
        animation-delay: 0.5s;
      }
      span:nth-child(2) {
        animation-delay: 1s;
      }

      span:nth-child(3) {
        animation-delay: 1.5s;
      }

      span:nth-child(4) {
        animation-delay: 2s;
      }
      span:nth-child(5) {
        width: 20px;
      }
      span:nth-child(6) {
        animation-delay: 2.5s;
      }
      span:nth-child(7) {
        animation-delay: 3s;
      }
      span:nth-child(8) {
        animation-delay: 3.5s;
      }
    }
    video {
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      width: 80%;
      left: 10%;
    }
  }
}

/* Input */
.input_contact {
  border: 1px solid #eee;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 1rem;
  height: 4rem;
  width: 100%;
  color: #000000;
}
.input_contact:focus-visible {
  outline: none;
}
.input_contact:focus {
  border-color: #6a5af9;
  outline: #4070f4;
}
.input_contact:not(:placeholder-shown) + .form__label--email,
.input_contact:focus + .form__label--email,
.input_contact:not(:placeholder-shown) + .form__label--email-error,
.input_contact:focus + .form__label--email-error,
.input_contact:not(:placeholder-shown) + .form__label--name,
.input_contact:focus + .form__label--name {
  padding: 10px;
  display: inline-block;
  left: 10px;
  top: 0;
  background-color: #fff;
  color: #6a5af9;
}

.form__label--name {
  color: #999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  user-select: none;
  pointer-events: none;
  transition: 0.25s ease;
}

.form__label--email {
  color: #999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  user-select: none;
  pointer-events: none;
  transition: 0.25s ease;
}
.form__label--email-error {
  color: #999;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: 20px;
  user-select: none;
  pointer-events: none;
  transition: 0.25s ease;
}

.form__label--message {
  color: #999;
  position: absolute;
  top: 25%;
  transform: translateY(-60%);
  left: 20px;
  pointer-events: none;
  transition: 0.25s ease;
}
.input_message {
  border: 1px solid #eee;
  padding-top: 20px;
  border-radius: 20px;
  font-size: 16px;
  padding-left: 1rem;
  width: 100%;
  resize: none;
  color: #000;
}
.input_message:focus-visible {
  outline: none;
}
.input_message:focus {
  border-color: #6a5af9;
  outline: #4070f4;
}
.input_message:not(:placeholder-shown) + .form__label--message,
.input_message:focus + .form__label--message {
  padding: 10px;
  display: inline-block;
  left: 10px;
  top: 0;
  background-color: #fff;
  color: #6a5af9;
}

.form-group.invalid .input_contact {
  border-color: #f33a58;
}
.form-group.invalid .input_message {
  border-color: #f33a58;
}
.form-group.invalid label {
  transform: translateY(-23px);
}

.form-group.invalid .form-message {
  color: #f33a58;
}
