@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-purple: #4b0082;
  --color-brand-pink: #ff00ff;
  --color-brand-orange: #ff8c00;
  --color-brand-silver: #d3d3d3;
  --color-brand-yellow: #f5b841;
  --color-brand-orangeDark: #cc7000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), var(--font-inter), sans-serif;
}
